*,*::after,*::before {
    box-sizing: border-box;
    front-family: Gotham Rounded ,sabs-serif;
}

body{
    backgroud: liner-gradient(to right, hsl(200, ,100%, 50%), hsl    (175, 100%,50%));
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255,.8);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock.number{
    position: absolute;
    width: 100;
    height: 100;
    text-align: center;
    background-color: rosybrown;
    transform: rotate(var (--rotate));
}
.clock.number.1{--rotation 30 deg))
    clock.number.2 60 deg)
    clock.number.3 90 deg)
    clock.number.4 120 deg)
    clock.number.5 150 deg)
    clock.number 6  180 deg)
clock.number 7 210 deg)
clock number 8 240 deg)
clock number 9 270 deg)
clock number 10 300 deg)
clock number 11 330 deg)

}
